pyautogui/puautogui_ngrok_clud.json
{
  "name": "puautogui",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=create any creative content for this timeline {{ $('Triggering schduler on every 2 minuts').item.json['Readable date'] }}  in one single line",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -544,
        -480
      ],
      "id": "f7c0bf8c-1d3f-486d-bb0e-65498508cadc",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -544,
        -208
      ],
      "id": "de8e86e7-ccba-42e8-b706-49af30ec5d64",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "MRXyAWl2EPVf0hdn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "outputFieldName": "=currentDate {{ $json['Readable date'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -784,
        -480
      ],
      "id": "9f93501c-a94b-4134-9bf9-863ee77d0bec",
      "name": "fetching current date and time"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -992,
        -480
      ],
      "id": "165ae0d6-5661-4928-a02f-2e34883aab70",
      "name": "Triggering schduler on every 2 minuts",
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://antagonistically-interastral-aden.ngrok-free.dev/append_text",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=the info from model {{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -224,
        -480
      ],
      "id": "507d0f5d-dc04-456b-bc64-e9a9a60e5bf5",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetching current date and time": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Triggering schduler on every 2 minuts": {
      "main": [
        [
          {
            "node": "fetching current date and time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "28c1678f-0adb-420f-a224-bbec7732e70d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b568a44e2b699957545d0a074fcdf3f5998110a8ee51bfe6ef74e0" 
  },
  "id": "d1Fhbgd6IhJTUepo",
  "tags": []
}